In [5]:
import pandas as pd 
import numpy as  np

In [25]:
emlakjet_data = pd.read_csv("emlakjet_20251214_214758.csv")
emlakjet_data.shape

(1289, 13)

In [26]:
emlakjet_data.columns

Index(['Tarih', 'Fiyat', 'Fiyat_Sayisal', 'Fiyat_Per_m2', 'Semt', 'Mahalle',
       'Konum', 'Oda_Sayisi', 'Brut_Alan_m2', 'Brut_Alan_m2_Numeric', 'Kat',
       'Detaylar', 'URL'],
      dtype='object')

In [30]:
emlakjet_dataset= emlakjet_data.copy()
df = emlakjet_data.drop(columns=["Semt", "Detaylar", "URL"])
df = df.dropna(axis=1, how="all")
df

,Tarih,Fiyat,Fiyat_Sayisal,Fiyat_Per_m2,Konum,Oda_Sayisi,Brut_Alan_m2,Brut_Alan_m2_Numeric,Kat
0,2025-12-14 21:35:49,27.500 TL,27.5,0.21,Sultanbeyli - Hamidiye Mahallesi,3+1,130,130,3
1,2025-12-14 21:35:49,32.000 TL,32.0,0.29,Çekmeköy - Mimar Sinan Mahallesi,2+1,110,110,NaN
2,2025-12-14 21:35:49,20.000 TL,20.0,0.33,Küçükçekmece - Söğütlü Çeşme Mahallesi,1+1,60,60,Zemin
3,2025-12-14 21:35:49,52.000 TL,52.0,0.69,Kartal - Orhantepe Mahallesi,2+1,75,75,3
4,2025-12-14 21:35:50,50.000 TL,50.0,0.83,Şişli - 19 Mayıs Mahallesi,1+1,60,60,3
...,...,...,...,...,...,...,...,...,...
1284,2025-12-14 21:47:51,29.000 TL,29.0,0.64,Ataşehir - Küçükbakkalköy Mahallesi,1+1,45,45,Çatı
1285,2025-12-14 21:47:51,45.000 TL,45.0,0.56,Bahçelievler - Soğanlı Mahallesi,2+1,80,80,3
1286,2025-12-14 21:47:52,20.000 TL,20.0,0.36,Küçükçekmece - Kanarya Mahallesi,1+1,55,55,Zemin
1287,2025-12-14 21:47:52,49.000 TL,49.0,0.21,Silivri - Yeni Mahallesi,3+1,230,230,2
1288,2025-12-14 21:47:52,27.000 TL,27.0,0.49,Küçükçekmece - Yeni Mahalle Mahallesi,1+1,55,55,3

In [28]:
df.isna().sum()

Tarih                     0
Fiyat                     0
Fiyat_Sayisal            28
Fiyat_Per_m2             28
Konum                     0
Oda_Sayisi                9
Brut_Alan_m2              0
Brut_Alan_m2_Numeric      0
Kat                     119
dtype: int64

In [29]:
len(df)

1289